.formulario{
    display: grid;
    margin: 20px;
    grid-template-rows:minmax();
}
.label{
    font-weight: bold;
    font-size: 55px;
    display:flex;
    margin-bottom: 50px;
}
.input{
    width: 100%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 3px;
}
.boton{
    background: rgb(181, 194, 205);
    display: inline-block;
    padding: 20px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 3s ease;
}
.boton:hover{
    background: rgb(87, 104, 117);
    color: white;
}
.boton2{
    background: rgb(68, 74, 68);
    display: inline-block;
    padding: 70px;
    border:PowderBlue 5px solid;    
    border-radius: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 3s ease;
    box-shadow: 10px 10px rgba(232, 2, 2, 0.5);
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.boton3{
    background: rgb(159, 167, 159);
    display: center;
    padding: 20px;
    border: none;
    border-radius: 200px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    transition: 3s ease;
}
.boton4{
    background: rgb(154, 165, 154);
    display: inline-block;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 3s ease;
}
.centrar{
    width: 60%;
    margin: 0 auto;
    position: relative;
}
.centro {
    min-height: 10vh;
    display: grid;
    place-items: center;
}
.centro2 {
    min-height: 1vh;
    display: grid;
    place-items: center;
}
.centro3 {
    min-height: 10vh;
    display: grid;
    place-items: center;
}
.titulo {
    min-height: 1vh;
    display: grid;
    place-items: center;
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; 
}
.absoluto {
    top: 300px;
    left: 590px;
    position: absolute;
  }
.absoluto2 {
    top: 400px;
    left: 590px;
    position: absolute;
}
.absoluto3 {
    top: 460px;
    left: 590px;
    position: absolute;
}
.absoluto4 {
    top: 550px;
    left: 930px;
    position: absolute;
}
.clase{
    color:black
}
